In [1]:
# Install the Cassandra python driver
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)
Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 16.6 MB/s eta 0:00:00
Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.29.2 geomet-0.2.1.post1

In [3]:
# Import the necessary libraries
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json

In [5]:
# This secure connect bundle is autogenerated when you download your SCB,
# if yours is different update the file name below
cloud_config= {
  'secure_connect_bundle': 'secure-connect-sales-data.zip'
}

# This token JSON file is autogenerated when you download your token,
# if yours is different update the file name below
with open("kandul42@students.rowan.edu-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

if session:
  print('Connected!')
else:
  print("An error occurred.")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for ee2d418b-4f6f-4f50-be5e-1eab2869eae8-us-east-2.db.astra.datastax.com:29042:0669df0f-031f-383e-b452-67a9679bbc6a. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for ee2d418b-4f6f-4f50-be5e-1eab2869eae8-us-east-2.db.astra.datastax.com:29042:0669df0f-031f-383e-b452-67a9679bbc6a. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for ee2d418b-4f6f-4f50-be5e-1eab2869eae8-us-east-2.db.astra.datastax.com:29042:0669df0f-031f-383e-b452-67a9679bbc6a. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Connected!

In [6]:
import requests
import pandas as pd
from cassandra.cluster import Cluster

# Download the CSV file
url = "https://raw.githubusercontent.com/gchandra10/filestorage/main/sales_100.csv"
csv_file = "sales_100.csv"
response = requests.get(url)

# Save the file locally
with open(csv_file, 'wb') as file:
    file.write(response.content)

# Read the CSV file
df = pd.read_csv(csv_file)
print(df.head())  # Display the first few rows

                         Region           Country  Item Type Sales Channel  \
0            Sub-Saharan Africa      South Africa     Fruits       Offline
1  Middle East and North Africa           Morocco    Clothes        Online
2         Australia and Oceania  Papua New Guinea       Meat       Offline
3            Sub-Saharan Africa          Djibouti    Clothes       Offline
4                        Europe          Slovakia  Beverages       Offline

  Order Priority  Order Date   Order ID   Ship Date  UnitsSold  UnitPrice  \
0              M   7/27/2012  443368995   7/28/2012       1593       9.33
1              M   9/14/2013  667593514  10/19/2013       4611     109.28
2              M   5/15/2015  940995585    6/4/2015        360     421.89
3              H   5/17/2017  880811536    7/2/2017        562     109.28
4              L  10/26/2016  174590194   12/4/2016       3973      47.45

   UnitCost  TotalRevenue  TotalCost  TotalProfit
0      6.92      14862.69   11023.56      3839.13
1     35.84     503890.08  165258.24    338631.84
2    364.69     151880.40  131288.40     20592.00
3     35.84      61415.36   20142.08     41273.28
4     31.79     188518.85  126301.67     62217.18

In [46]:
session.set_keyspace('bronze')

session.execute("""
    CREATE TABLE IF NOT EXISTS sales_raw (
        order_id UUID PRIMARY KEY,
        date TEXT,
        region TEXT,
        country TEXT,
        item_type TEXT,
        sales_channel TEXT,
        order_priority TEXT,
        ship_date TEXT,
        units_sold INT,
        unit_price FLOAT,
        total_revenue FLOAT
    )
""")
print("Bronze table created.")

Bronze table created.

In [47]:
# Normalize column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# Insert raw data into Bronze Table
for _, row in df.iterrows():
    session.execute("""
        INSERT INTO sales_raw (
            order_id, date, region, country, item_type, sales_channel,
            order_priority, ship_date, units_sold, unit_price, total_revenue
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        uuid4(),
        row['order_date'],
        row['region'],
        row['country'],
        row['item_type'],
        row['sales_channel'],
        row['order_priority'],
        row['ship_date'],
        int(row['unitssold']),
        float(row['unitprice']),
        float(row['totalrevenue'])
    ))

print("Data inserted into Bronze table.")
print(df.columns)

Data inserted into Bronze table.
Index(['region', 'country', 'item_type', 'sales_channel', 'order_priority',
       'order_date', 'order_id', 'ship_date', 'unitssold', 'unitprice',
       'unitcost', 'totalrevenue', 'totalcost', 'totalprofit'],
      dtype='object')

In [48]:
# Create the Silver keyspace and table

session.set_keyspace('silver')

session.execute("""
    CREATE TABLE IF NOT EXISTS sales_cleaned (
        order_id UUID PRIMARY KEY,
        date TIMESTAMP,
        region TEXT,
        country TEXT,
        item_type TEXT,
        units_sold INT,
        unit_price FLOAT,
        total_revenue FLOAT
    )
""")
print("Silver table created.")

Silver table created.

In [49]:
# Fetch raw data from Bronze table
rows = session.execute("SELECT * FROM bronze.sales_raw")

# Clean and insert data into Silver table
for row in rows:
    transaction_date = datetime.strptime(row.date, '%m/%d/%Y')

    session.execute("""
        INSERT INTO sales_cleaned (
            order_id, date, region, country, item_type,
            units_sold, unit_price, total_revenue
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row.order_id,
        transaction_date,
        row.region,
        row.country,
        row.item_type,
        row.units_sold,
        row.unit_price,
        row.total_revenue
    ))

print("Data moved from Bronze to Silver.")

Data moved from Bronze to Silver.

In [53]:
session.set_keyspace('gold')

# Gold Table 1: Total Sales by Region
session.execute("""
    CREATE TABLE IF NOT EXISTS gold_sales_by_region (
        region TEXT PRIMARY KEY,
        total_revenue DECIMAL
    )
""")
print("Gold table 'gold_sales_by_region' created.")

# Gold Table 2: Total Sales by Product
session.execute("""
    CREATE TABLE IF NOT EXISTS gold_sales_by_product (
        item_type TEXT PRIMARY KEY,
        total_revenue DECIMAL
    )
""")
print("Gold table 'gold_sales_by_product' created.")

# Gold Table 3: Daily Sales Summary
session.execute("""
    CREATE TABLE IF NOT EXISTS gold_daily_sales (
        date DATE PRIMARY KEY,
        total_revenue DECIMAL
    )
""")
print("Gold table 'gold_daily_sales' created.")

Gold table 'gold_sales_by_region' created.
Gold table 'gold_sales_by_product' created.
Gold table 'gold_daily_sales' created.
Gold tables created.

In [54]:
from collections import defaultdict

# Query data from Silver table
query = "SELECT region, total_revenue FROM silver.sales_cleaned"
rows = session.execute(query)

# Aggregate total sales by region
region_sales = defaultdict(float)
for row in rows:
    region_sales[row.region] += float(row.total_revenue)

# Insert aggregated data into gold_sales_by_region
for region, total_revenue in region_sales.items():
    session.execute("""
        INSERT INTO gold_sales_by_region (region, total_revenue)
        VALUES (%s, %s)
    """, (region, total_revenue))

print("Data inserted into 'gold_sales_by_region'.")

Data inserted into 'gold_sales_by_region'.

In [55]:
# Query data from Silver table
query = "SELECT item_type, total_revenue FROM silver.sales_cleaned"
rows = session.execute(query)

# Aggregate total sales by product
product_sales = defaultdict(float)
for row in rows:
    product_sales[row.item_type] += float(row.total_revenue)

# Insert aggregated data into gold_sales_by_product
for item_type, total_revenue in product_sales.items():
    session.execute("""
        INSERT INTO gold_sales_by_product (item_type, total_revenue)
        VALUES (%s, %s)
    """, (item_type, total_revenue))

print("Data inserted into 'gold_sales_by_product'.")

Data inserted into 'gold_sales_by_product'.

In [57]:
# Query data from Silver table
query = "SELECT date, total_revenue FROM silver.sales_cleaned"
rows = session.execute(query)

# Aggregate total sales by date
daily_sales = defaultdict(float)
for row in rows:
    # Convert the date to a string in the format 'YYYY-MM-DD'
    date_str = row.date.strftime('%Y-%m-%d')
    daily_sales[date_str] += float(row.total_revenue)

# Insert aggregated data into gold_daily_sales
for date, total_revenue in daily_sales.items():
    session.execute("""
        INSERT INTO gold_daily_sales (date, total_revenue)
        VALUES (%s, %s)
    """, (date, total_revenue))

print("Data inserted into 'gold_daily_sales'.")

Data inserted into 'gold_daily_sales'.

In [60]:
# Gold Table 1: Daily Sales Summary
result_daily_sales = session.execute("SELECT * FROM gold_daily_sales")
print("Gold Table: Daily Sales Summary")
for row in result_daily_sales:
    print(row)

Gold Table: Daily Sales Summary
Row(date=Date(16267), total_revenue=Decimal('16826370.0'))
Row(date=Date(15042), total_revenue=Decimal('502922.53125'))
Row(date=Date(15162), total_revenue=Decimal('868279.21875'))
Row(date=Date(17303), total_revenue=Decimal('184246.078125'))
Row(date=Date(16781), total_revenue=Decimal('100232.19140625'))
Row(date=Date(16769), total_revenue=Decimal('1929054.5625'))
Row(date=Date(14710), total_revenue=Decimal('5798888.625'))
Row(date=Date(15293), total_revenue=Decimal('4369068.0'))
Row(date=Date(15962), total_revenue=Decimal('1511670.28125'))
Row(date=Date(16151), total_revenue=Decimal('12010321.5'))
Row(date=Date(16110), total_revenue=Decimal('224871.65625'))
Row(date=Date(15218), total_revenue=Decimal('19999984.5'))
Row(date=Date(15389), total_revenue=Decimal('652105.359375'))
Row(date=Date(17135), total_revenue=Decimal('210108.609375'))
Row(date=Date(17048), total_revenue=Decimal('694037.296875'))
Row(date=Date(16240), total_revenue=Decimal('110580.69140625'))
Row(date=Date(14942), total_revenue=Decimal('10410169.5'))
Row(date=Date(16932), total_revenue=Decimal('4235860.875'))
Row(date=Date(15514), total_revenue=Decimal('18760708.5'))
Row(date=Date(15023), total_revenue=Decimal('12681861.0'))
Row(date=Date(15103), total_revenue=Decimal('9789782.25'))
Row(date=Date(15622), total_revenue=Decimal('322601.6484375'))
Row(date=Date(17116), total_revenue=Decimal('2214043.5'))
Row(date=Date(16538), total_revenue=Decimal('3082740.5625'))
Row(date=Date(16736), total_revenue=Decimal('15619474.5'))
Row(date=Date(15297), total_revenue=Decimal('14121882.0'))
Row(date=Date(16600), total_revenue=Decimal('866256.28125'))
Row(date=Date(15624), total_revenue=Decimal('823921.78125'))
Row(date=Date(16776), total_revenue=Decimal('7712021.40234375'))
Row(date=Date(14778), total_revenue=Decimal('132672.59765625'))
Row(date=Date(17124), total_revenue=Decimal('276737.1328125'))
Row(date=Date(15249), total_revenue=Decimal('12302007.75'))
Row(date=Date(15285), total_revenue=Decimal('38598.2109375'))
Row(date=Date(15138), total_revenue=Decimal('2939051.4375'))
Row(date=Date(15613), total_revenue=Decimal('43524.451171875'))
Row(date=Date(14840), total_revenue=Decimal('8654764.5'))
Row(date=Date(16241), total_revenue=Decimal('3505745.25'))
Row(date=Date(14884), total_revenue=Decimal('1885498.125'))
Row(date=Date(16750), total_revenue=Decimal('904838.4375'))
Row(date=Date(16012), total_revenue=Decimal('160522.65234375'))
Row(date=Date(16470), total_revenue=Decimal('5570213.625'))
Row(date=Date(17100), total_revenue=Decimal('565556.53125'))
Row(date=Date(15522), total_revenue=Decimal('3213420.0'))
Row(date=Date(16821), total_revenue=Decimal('1045490.15625'))
Row(date=Date(15540), total_revenue=Decimal('6042477.75'))
Row(date=Date(17233), total_revenue=Decimal('11099925.75'))
Row(date=Date(15061), total_revenue=Decimal('18799782.0'))
Row(date=Date(15145), total_revenue=Decimal('2980721.25'))
Row(date=Date(16122), total_revenue=Decimal('12018802.5'))
Row(date=Date(17022), total_revenue=Decimal('390785.2734375'))
Row(date=Date(15062), total_revenue=Decimal('5690924.25'))
Row(date=Date(15245), total_revenue=Decimal('1248996.65625'))
Row(date=Date(16686), total_revenue=Decimal('6303549.75'))
Row(date=Date(16669), total_revenue=Decimal('5352725.25'))
Row(date=Date(14703), total_revenue=Decimal('1957596.9375'))
Row(date=Date(16570), total_revenue=Decimal('455641.21875'))
Row(date=Date(14960), total_revenue=Decimal('8470322.25'))
Row(date=Date(16363), total_revenue=Decimal('268676.015625'))
Row(date=Date(15635), total_revenue=Decimal('2281738.125'))
Row(date=Date(16950), total_revenue=Decimal('408421.91015625'))
Row(date=Date(16944), total_revenue=Decimal('10188508.5'))
Row(date=Date(15623), total_revenue=Decimal('2448451.3125'))
Row(date=Date(16556), total_revenue=Decimal('1361440.78125'))
Row(date=Date(15548), total_revenue=Decimal('44588.0712890625'))
Row(date=Date(15588), total_revenue=Decimal('169591.40625'))
Row(date=Date(16280), total_revenue=Decimal('11016519.75'))
Row(date=Date(15298), total_revenue=Decimal('243485.015625'))
Row(date=Date(15280), total_revenue=Decimal('1257594.28125'))
Row(date=Date(15853), total_revenue=Decimal('2605396.125'))
Row(date=Date(16861), total_revenue=Decimal('6447323.25'))
Row(date=Date(16815), total_revenue=Decimal('16335192.0'))
Row(date=Date(16067), total_revenue=Decimal('12617464.5'))
Row(date=Date(15732), total_revenue=Decimal('104570.63671875'))
Row(date=Date(17091), total_revenue=Decimal('1019582.4375'))
Row(date=Date(15596), total_revenue=Decimal('353739.75'))
Row(date=Date(16387), total_revenue=Decimal('1303071.9375'))
Row(date=Date(14993), total_revenue=Decimal('2240301.0'))
Row(date=Date(14974), total_revenue=Decimal('4008848.625'))
Row(date=Date(17248), total_revenue=Decimal('1750452.5625'))
Row(date=Date(16876), total_revenue=Decimal('9038149.5'))
Row(date=Date(16841), total_revenue=Decimal('11313471.0'))
Row(date=Date(16837), total_revenue=Decimal('378328.171875'))
Row(date=Date(16592), total_revenue=Decimal('1013972.15625'))
Row(date=Date(16988), total_revenue=Decimal('2408968.3125'))
Row(date=Date(15279), total_revenue=Decimal('693152.109375'))
Row(date=Date(15661), total_revenue=Decimal('1809676.875'))
Row(date=Date(15723), total_revenue=Decimal('84982.951171875'))
Row(date=Date(16541), total_revenue=Decimal('4527662.625'))
Row(date=Date(15503), total_revenue=Decimal('896947.3125'))
Row(date=Date(15211), total_revenue=Decimal('209840.15625'))
Row(date=Date(17286), total_revenue=Decimal('6589077.75'))
Row(date=Date(17140), total_revenue=Decimal('11341210.5'))
Row(date=Date(15620), total_revenue=Decimal('3891517.125'))
Row(date=Date(15956), total_revenue=Decimal('1289190.609375'))
Row(date=Date(16494), total_revenue=Decimal('7910259.75'))
Row(date=Date(15733), total_revenue=Decimal('3513612.375'))

In [58]:
# Gold Table 2: Total Sales by Region
result_region = session.execute("SELECT * FROM gold_sales_by_region")
print("Gold Table: Total Sales by Region")
for row in result_region:
    print(row)

Gold Table: Total Sales by Region
Row(region='Australia and Oceania', total_revenue=Decimal('32133774.6796875'))
Row(region='Europe', total_revenue=Decimal('104894249.68359375'))
Row(region='Middle East and North Africa', total_revenue=Decimal('74295382.3828125'))
Row(region='Central America and the Caribbean', total_revenue=Decimal('52712505.9140625'))
Row(region='Asia', total_revenue=Decimal('86522435.81835938'))
Row(region='Sub-Saharan Africa', total_revenue=Decimal('72676312.98339844'))
Row(region='North America', total_revenue=Decimal('10835272.40625'))

In [59]:
# Gold Table 3: Total Sales by Product
result_product = session.execute("SELECT * FROM gold_sales_by_product")
print("Gold Table: Total Sales by Product")
for row in result_product:
    print(row)

Gold Table: Total Sales by Product
Row(item_type='Household', total_revenue=Decimal('115557248.34375'))
Row(item_type='Office Supplies', total_revenue=Decimal('83642714.4375'))
Row(item_type='Vegetables', total_revenue=Decimal('3405342.2109375'))
Row(item_type='Snacks', total_revenue=Decimal('6580928.15625'))
Row(item_type='Personal Care', total_revenue=Decimal('9573443.47265625'))
Row(item_type='Meat', total_revenue=Decimal('63836598.09375'))
Row(item_type='Fruits', total_revenue=Decimal('1845100.8076171875'))
Row(item_type='Beverages', total_revenue=Decimal('6435074.044921875'))
Row(item_type='Cereal', total_revenue=Decimal('28248369.33984375'))
Row(item_type='Cosmetics', total_revenue=Decimal('86181301.875'))
Row(item_type='Baby Food', total_revenue=Decimal('15601692.5625'))
Row(item_type='Clothes', total_revenue=Decimal('13162120.5234375'))